/* Empty. Add your own CSS if you like */
.slider {
    height: 100%;
    text-align: center;
}

.scroll {
    height: 100%;
}

.welcomePage {
    background-color: #9e9e9e;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.scavengerPage {
    background-color: #ef473a;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.otherPage {
    background-color: gold;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.goPage {
    background-color: lightgreen;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}